extends ../layouts/header_footer.pug
block content
  link(rel="stylesheet", href="/css/shop/success.css")
  .success-page
    .success-container
      .icon-check-container
        i.far.fa-check-circle
      .success-content
        .check-content Thank You!
        .check-description Cảm ơn bạn đã mua sắm tại cửa hàng!
      a.a-btn(href='/')
        .success-btn Tiếp tục mua sắm
  script(src="/js/shop/success.js") 